{% extends "layout.html" %}
{% block content %}
<div class="home-container text-center">
    <h2 class="welcome-heading mb-4">🎉 You’ve completed </h2>
    <h1 class="camera-basics-heading mb-5">Camera Basics: The Exposure Triangle</h1>
    <p class="lead mb-4">Quiz Score:<strong id="score-display">Loading...</strong></p>

    <p class="lead mb-4">You now know how aperture, shutter speed, and ISO work together to control exposure.</p>


    <div class="mb-5">
        <img src="{{ url_for('static', filename='images/img_learn_1_1.png') }}" 
             width=200px
             alt="Exposure Triangle Diagram"
             class="img-fluid rounded">
    </div>

    <div class="start-section">
        <button onclick="location.href='/'" 
                class="btn btn-lg btn-success">
            BACK TO HOME
        </button>
    </div>
</div>


<script>
    window.addEventListener('load', () => {
        confetti({
            particleCount: 170,
            spread: 80,
            origin: { y: 0.6 }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        fetch('http://127.0.0.1:5001/quiz_results')
            .then(response => response.json())
            .then(data => {
                let totalQuestions = Object.keys(data).length;
                let correctAnswers = 0;
    
                for (const key in data) {
                    if (data.hasOwnProperty(key)) {
                        if (data[key].correct === true) {
                            correctAnswers++;
                        }
                    }
                }
    
                document.getElementById('score-display').textContent = `${correctAnswers} / ${totalQuestions}`;
            })
            .catch(error => {
                console.error('Error fetching quiz results:', error);
                document.getElementById('score-display').textContent = 'Unable to load score';
            });
    });
    </script>
{% endblock %}