{% extends "layout.html" %}
{% block content %}
<div class="position-relative" style="min-height: 80vh;">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h2 class="camera-basics-heading mb-5">Summary – Balancing the Triangle</h2>
            <p class="fs-5">Each setting affects exposure and has a creative effect:</p>
            <div class="mt-4 p-3 table-container">
                <table class="exposure-table">
                    <thead>
                        <tr>
                            <th>Setting</th>
                            <th>Controls Light</th>
                            <th>Also Affects...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="setting-column">Aperture</td>
                            <td>Wide/Narrow</td>
                            <td>Depth of field</td>
                        </tr>
                        <tr>
                            <td class="setting-column">Shutter Speed</td>
                            <td>Fast/Slow</td>
                            <td>Motion blur or freeze</td>
                        </tr>
                        <tr>
                            <td class="setting-column">ISO</td>
                            <td>Sensitive/Low</td>
                            <td>Noise (grain)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="fs-5">To get the perfect shot, you must balance all three.</p>     
        </div>
        
    </div>
    <div style="position: absolute; bottom: 0; right: 0; padding: 50px;">
        <a href="/learn/10" class="btn btn-primary btn-lg">TRY IT!</a>
    </div>
</div>
{% endblock %}
