{% extends "layout.html" %}
{% block content %}
<div class="d-flex flex-column" style="min-height: 80vh;">
    <div class="row align-items-center flex-grow-1">
        <div class="col-md-8">
            <h2 class="camera-basics-heading mb-5">What is the Exposure Triangle?</h2>
            <p class="fs-5">
                To take a well-exposed photo, your camera needs to control how much light reaches the sensor.
            </p>
            <p class="fs-5">
                This is done using <strong>three settings:</strong>
                <ul class="fs-5">
                    <li class="d-flex align-items-center">
                        <strong>Aperture</strong>
                        <img src="{{ url_for('static', filename='images/home_aperture_icon.png') }}"
                             alt="Aperture Icon" 
                             class="ms-2"
                             style="width: 32px; height: 32px;">
                    </li>
                    <li class="d-flex align-items-center">
                        <strong>Shutter Speed</strong>
                        <img src="{{ url_for('static', filename='images/home_shutter_icon.png') }}"
                             alt="Shutter Speed Icon" 
                             class="ms-2"
                             style="width: 32px; height: 32px;">
                    </li>
                    <li class="d-flex align-items-center">
                        <strong>ISO</strong>
                        <img src="{{ url_for('static', filename='images/home_iso_icon.png') }}"
                             alt="ISO Icon" 
                             class="ms-2"
                             style="width: 32px; height: 32px;">
                    </li>
                </ul>
            </p>
            <p class="fs-5">
                Together, these three form the <strong>Exposure Triangle</strong>. Changing one will affect the others. Understanding how they work helps you take sharper, brighter, or more creative photos.
            </p>
        </div>

        <div class="col-md-4 text-center">
            <img src="https://github.com/jyshin04/exposure-triangle/blob/main/static/images/Learn%20exposure%20triangle.png?raw=true" alt="Exposure Triangle Diagram" class="img-fluid">
        </div>
    </div>

    <!-- Button container at the bottom -->
    <div class="d-flex justify-content-between align-items-end mt-auto py-3">
        <a href="/" class="btn btn-outline-secondary btn-lg">
            BACK
        </a>
        
        <a href="/learn/2" class="btn btn-primary btn-lg">
            LEARN APERTURE <i class="fa-solid fa-circle-chevron-right ms-2"></i>
        </a>
    </div>
</div>
{% endblock %}