{% extends "layout.html" %}
{% block content %}
<div class="position-relative" style="min-height: 80vh;">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h2 class="camera-basics-heading mb-5">Shutter Speed – Controlling Motion</h2>
            <p class="fs-5">Shutter speed is how long the shutter stays open to let in light.
                <ul>
                    <li>Fast speed (e.g., 1/1000s) = freezes action</li>
                    <li>Slow speed (e.g., 1s) = creates motion blur</li>
                </ul>
            </p>
            
                
            </br>
            <div class="mt-4 p-3" style="border: 1px solid #000; border-radius: 10px;">
                <p class="fs-5 mb-1"><strong>Tip!</strong></p>
                <p class="fs-5 mb-1">Use fast shutter speed for sports or action</p>
                <p class="fs-5">Use slow shutter speed for light trails or water blur</p>
                <p class="fs-5">Slower speeds can cause camera shake → use tripod</p>
            </div>            
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/img_learn_10_1.png') }}" alt="Blur Comparison" class="img-fluid rounded">
        </div>
    </div>
    <!-- Button container at the bottom -->
    <div class="d-flex justify-content-between align-items-end mt-auto py-3">
        <a href="/learn/4" class="btn btn-outline-secondary btn-lg">
            BACK
        </a>
        
        <a href="/learn/6" class="btn btn-primary btn-lg">
            TRY IT! <i class="fa-solid fa-circle-chevron-right ms-2"></i>
        </a>
    </div>
</div>
{% endblock %}
