{% extends "layout.html" %}
{% block content %}
<div class="position-relative" style="min-height: 80vh;">
    <div>
        <h2 class="camera-basics-heading mb-5" style="margin-top: 5vh;">Play with ISO 🎮</h2>
        <p class="fs-5">Use the slider below to see how ISO affects the image.</p>
    </div>

    <div class="row align-items-center" style="min-height: auto;">
        <div class="col-md-6 text-center">
            <img id="iso-img"
     src="{{ url_for('static', filename='images/ISO_100_quiz.png') }}"
     alt="ISO Demo" 
     class="img-fluid rounded">
        </div>

        <div class="col-md-6 text-center">
            <label for="isoSlider" class="form-label fw-bold fs-5">ISO</label>
            <input type="range" min="1" max="4" value="1" class="form-range w-75 mx-auto" id="isoSlider">
            <p id="isoValue" class="mt-2 fs-5">100</p>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-end mt-auto py-3">
        <a href="/learn/7" class="btn btn-outline-secondary btn-lg">
            BACK
        </a>
        
        <a href="/learn/9" class="btn btn-primary btn-lg">
            NEXT <i class="fa-solid fa-circle-chevron-right ms-2"></i>
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const slider = document.getElementById("isoSlider");
    const image = document.getElementById("iso-img");
    const valueText = document.getElementById("isoValue");

    const iso = {
        1: { value: "100", src: "{{ url_for('static', filename='images/ISO_100_quiz.png') }}" },
        2: { value: "200", src: "{{ url_for('static', filename='images/ISO_200_quiz.png') }}" },
        3: { value: "400", src: "{{ url_for('static', filename='images/ISO_400_quiz.png') }}" },
        4: { value: "800", src: "{{ url_for('static', filename='images/ISO_800_quiz.png') }}" }
    };

    slider.addEventListener("input", function () {
        const setting = iso[this.value];
        image.src = setting.src;
        valueText.textContent = setting.value;
    });
</script>
{% endblock %}
