{% extends "layout.html" %}
{% block content %}
<div class="position-relative" style="min-height: 80vh;">
    <div>
        <h2 class="camera-basics-heading mb-5">Play with ISO 🎮</h2>
        <p class="fs-5">Use the slider below to see how ISO affects the image.</p>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <img id = "ISO-img"
            src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fphotographylife.com%2Fwhat-is-iso-in-photography&psig=AOvVaw1tWeP49p1Q6e59rD08McnF&ust=1745498863039000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCODthpSY7owDFQAAAAAdAAAAABAQ" 
            alt="ISO Demo" 
            class="img-fluid rounded">
        </div>

        <div class="col-md-6 text-center">
            <label for="isoSlider" class="form-label fw-bold fs-5">ISO</label>
            <input type="range" min="1" max="4" value="1" class="form-range w-75 mx-auto" id="isoSlider">
            <p id="isoValue" class="mt-2 fs-5">300</p>
        </div>
    </div>

    <div style="position: absolute; bottom: 0; right: 0; padding: 50px;">
        <a href="/quiz/6" class="btn btn-success btn-lg">NEXT</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const slider = document.getElementById("apertureSlider");
    const image = document.getElementById("aperture-img");
    const valueText = document.getElementById("apertureValue");

    const apertures = {
        1: { value: "f/2.8", src: "{{ url_for('static', filename='images/img_learn_5_1.png') }}" },
        2: { value: "f/5.6", src: "{{ url_for('static', filename='images/img_learn_5_2.png') }}" },
        3: { value: "f/8",   src: "{{ url_for('static', filename='images/img_learn_5_3.png') }}" },
        4: { value: "f/16",  src: "{{ url_for('static', filename='images/img_learn_5_4.png') }}" }
    };

    slider.addEventListener("input", function () {
        const setting = apertures[this.value];
        image.src = setting.src;
        valueText.textContent = setting.value;
    });
</script>
{% endblock %}
